<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.0" targetFramework="net462" />
  <package id="Sitecore.Kernel" version="9.0.180604" targetFramework="net462" developmentDependency="true" />
  <package id="ImageProcessor" version="2.6.2.25" targetFramework="net462" />
  <package id="RazorGenerator.Mvc" version="2.4.9" targetFramework="net462" />
  <package id="WebActivatorEx" version="2.0.3" targetFramework="net461" />
</packages>